/*.chartLeftDiv {*/
/*width       : 40%;*/
/*float       : left;*/
/*margin-left : 7%;*/
/*background  : #fff;*/
/*}*/

/*.chartLeft {*/
/*width  : 100%;*/
/*height : 400px;*/
/*}*/

/*.chartRightDiv {*/
/*width            : 40%;*/
/*float            : left;*/
/*margin-bottom    : 50px;*/
/*margin-left      : 3%;*/
/*background-color : #fff;*/
/*}*/

/*.chartRight {*/
/*width  : 100%;*/
/*height : 400px;*/
/*}*/

/*.div_lectureExplain {*/
/*z-index          : 100;*/
/*display          : inline-block;*/
/*position         : relative;*/
/*width            : 100px;*/
/*height           : 40px;*/
/*margin-left      : 15px;*/
/*border           : 3px solid #8FD9CF;*/
/*background-color : #efefef;*/
/*text-align       : center;*/
/*line-height      : 40px;*/
/*}*/

/*.canvasCircle {*/
/*position : relative;*/
/*top      : 100px;*/
/*left     : -104px;*/
/*width    : 100px;*/
/*height   : 100px;*/
/*}*/

/*.div_totalScore {*/
/*position : relative;*/
/*top      : 100px;*/
/*left     : 40px;*/
/*clear    : both;*/
/*}*/

/*.div_blockquote {*/
/*width         : 100%;*/
/*height        : auto;*/
/*margin-top    : 10px;*/
/*margin-bottom : 0;*/
/*overflow      : hidden;*/
/*border        : none;*/
/*font-size     : 14px;*/
/*}*/

/*.table_lecture {*/
/*width       : 79%;*/
/*margin-top  : -56px;*/
/*margin-left : 20%;*/
/*}*/

/*.chartMarginLeft {}*/

/*.blockquote_Table_lecture {*/
/*margin-top  : 5px;*/
/*margin-left : 18%;*/
/*border      : none;*/
/*font-size   : 14px;*/
/*}*/

/*.ChartDistributeTwolist {*/
/*display       : inline-block;*/
/*width         : 100%;*/
/*height        : auto;*/
/*margin-bottom : 2px;*/
/*margin-left   : 0px;*/
/*border        : 2px solid #F3F3F3;*/
/*}*/

/*.ChartDistribute {*/
/*display          : inline-block;*/
/*width            : 99%;*/
/*height           : auto;*/
/*margin-top       : 20px;*/
/*margin-bottom    : 2px;*/
/*margin-left      : 0px;*/
/*padding          : 0 5%;*/
/*border           : 2px solid #F3F3F3;*/
/*background-color : #fff;*/
/*}*/

/*.classChart {*/
/*width  : 100%;*/
/*height : 400px;*/
/*}*/

/*.classChartBottom {*/
/*width         : 99%;*/
/*margin-bottom : 0;*/
/*border        : 2px solid #F3F3F3;*/
/*text-align    : center;*/
/*font-size     : 14px;*/
/*}*/

/*.classChartBottomTwolist {*/
/*width         : 100%;*/
/*margin-bottom : 20px;*/
/*border        : 2px solid #F3F3F3;*/
/*text-align    : center;*/
/*font-size     : 14px;*/
/*}*/

/*.ChartDistributebox {*/
/*width       : 48%;*/
/*float       : left;*/
/*margin-left : 1%;*/
/*}*/

/*.gradeChart {*/
/*width  : 100%;*/
/*height : 320px;*/
/*}*/

/*.lectureAnalysis {*/
/*clear      : both;*/
/*margin-top : 20px;*/
/*}*/

/*.exportBtn {*/
/*width         : 10%;*/
/*height        : 35px;*/
/*float         : left;*/
/*margin-top    : -40px;*/
/*margin-left   : 89%;*/
/*color         : #fff;*/
/*border-radius : 5px;*/
/*background    : #18b831;*/
/*text-align    : center;*/
/*line-height   : 35px;*/
/*}*/

/*.paginationClass {*/
/*display     : inline-block;*/
/*margin-top  : 4%;*/
/*margin-left : 18%;*/
/*}*/

/*.local_pq_table_tr {*/
/*width       : 100%;*/
/*height      : 300px;*/
/*padding-top : 10%;*/
/*text-align  : center;*/
/*font-size   : 18px;*/
/*}*/

/** {*/
/*font-family : "宋体";*/
/*}*/

/*.form-horizontal {*/
/*margin-top : -19px;*/
/*padding    : 20px;*/
/*}*/

/*.background_color_even {*/
/*background-color : #FFFFFF;*/
/*}*/

/*.background_color_odd {*/
/*background-color : #f9f9f9;*/
/*}*/

/*.btn_check {*/
/*background : #18b831;*/
/*}*/

/*.session_report {*/
/*margin-top : -19px;*/
/*padding    : 20px;*/
/*}*/

/*.lineStyle {*/
/*width            : 98%;*/
/*height           : 1px;*/
/*margin           : 25px 10px;*/
/*background-color : #e9ebed;*/
/*}*/

/*.after_table_explain {*/
/*width         : 100%;*/
/*margin-top    : -50px;*/
/*margin-bottom : 0;*/
/*border        : none;*/
/*font-size     : 14px;*/
/*}*/

/*.i_in_button_out {*/
/*margin-right : 10%;*/
/*}*/

/*.exportBtn:hover {*/
/*color            : #fff;*/
/*background-color : #00A312;*/
/*}*/

/*.exportBtn:active {*/
/*color            : #fff;*/
/*background-color : #008B0E;*/
/*}*/

/*#exportBatch {*/
/*color            : #fff;*/
/*background-color : #00A8FF;*/
/*}*/

/*#exportBatch:hover {*/
/*color            : #fff;*/
/*background-color : #008FD9;*/
/*}*/

/*#exportBatch:active {*/
/*margin-left      : 2%;*/
/*color            : #fff;*/
/*background-color : #0078B5;*/
/*}*/

/*.con_lectureExplain {*/
/*margin-left : 2%;*/
/*}*/

/*div#113 {*/
/*padding : 20px !important;*/
/*}*/

/*.toTop {*/
/*display          : block;*/
/*position         : fixed;*/
/*right            : 3.6%;*/
/*bottom           : 5%;*/
/*width            : 50px;*/
/*height           : 50px;*/
/*background-image : url("../imgs/top1.png");*/
/*text-align       : center;*/
/*line-height      : 50px;*/
/*}*/

/*.selectTimeStamp {*/
/*-moz-appearance    : none;*/
/*-webkit-appearance : none;*/
/*appearance         : none;*/
/*height             : 40px;*/
/*opacity            : 0.3;*/
/*border             : none;*/
/*background         : white;*/
/*font-size          : 16px;*/
/*line-height        : 40px;*/
/*}*/

/*.btn-selector-box {*/
/*width        : 22%;*/
/*margin-right : 8%;*/
/*text-align   : right;*/
/*}*/

/*.BtnSelectBox {*/
/*display : inline-block;*/
/*width   : 25%;*/
/*}*/

/*.selectTimeStampR {*/
/*margin-right : 9%;*/
/*}*/

/*.selectBox {*/
/*width      : 100%;*/
/*text-align : right;*/
/*}*/

/*.tableToCol {*/
/*padding     : 11px !important;*/
/*text-align  : center !important;*/
/*white-space : nowrap;*/
/*}*/

/*.tableToCol :first-child {*/
/*width : 60px !important;*/
/*}*/

/*.noDatechartArea {*/
/*width        : 100%;*/
/*height       : 350px;*/
/*padding-left : 20px;*/
/*text-align   : center;*/
/*font-size    : 25px;*/
/*font-weight  : 700;*/
/*line-height  : 350px;*/
/*}*/

/*.chartTopDiv {*/
/*width  : 50%;*/
/*margin : 0 auto;*/
/*}*/

/*.chartTopDivsub {*/
/*width         : 50%;*/
/*height        : auto;*/
/*margin        : 0 auto;*/
/*margin-bottom : 20px;*/
/*}*/

/*.chartTopDivexp {*/
/*text-align  : center;*/
/*font-weight : 600;*/
/*}*/

/*.scrollBarBox {}*/

/*.date-input-label {*/
/*color       : #646464;*/
/*font-weight : 500;*/
/*}*/

/*.date-input {*/
/*width         : 120px !important;*/
/*height        : 20px;*/
/*margin-right  : 10px;*/
/*border        : 1px solid #ededed;*/
/*border-radius : 5px;*/
/*font-size     : 16px;*/
/*}*/

/*.radioButton {*/
/*display     : inline-block;*/
/*float       : left;*/
/*margin-left : 20px;*/
/*}*/

/*.radioButton label {*/
/*margin      : 0 30px 0 10px !important;*/
/*font-weight : 500;*/
/*}*/

/*.radioButton a {*/
/*font-weight : 700;*/
/*}*/

/*.radioButtonBox {*/
/*margin-left : 4px;*/
/*}*/

/*.filterListbox {*/
/*display    : inline-block !important;*/
/*width      : 70% !important;*/
/*margin-top : 20px;*/
/*}*/

/*.btnselectorbox {*/
/*float : right;*/
/*}*/

/*.lavelTop {*/
/*width       : 99%;*/
/*height      : 35px;*/
/*margin-left : 20px;*/
/*line-height : 35px;*/
/*}*/

/*.radioButtonLeft {*/
/*display : inline-block !important;*/
/*width   : 70% !important;*/
/*}*/

/*.radioButtonLeftday {*/
/*display : inline-block !important;*/
/*width   : 70% !important;*/
/*}*/

/*#selectButton {*/
/*display    : inline-block;*/
/*width      : auto;*/
/*margin-top : 33px;*/
/*text-align : center;*/
/*font-size  : 16px;*/
/*cursor     : pointer;*/
/*}*/

/*#selectButton i {*/
/*margin-left : 10px;*/
/*}*/

/*.overviewRadio {*/
/*display    : inline-block !important;*/
/*width      : 69% !important;*/
/*margin-top : 20px;*/
/*}*/

/*.showSelectFun {*/
/*display      : inline-block;*/
/*margin-right : 4%;*/
/*}*/

/*.showSetting {*/
/*display     : inline-block;*/
/*margin-left : 86%;*/
/*}*/

/*.showCheck {*/
/*width   : 40%;*/
/*height  : auto;*/
/*margin  : 0 auto;*/
/*padding : 20px;*/
/*border  : 2px solid #F4F6F9;*/
/*}*/

/*.showCheckLeft {*/
/*display : inline-block;*/
/*width   : 49%;*/
/*}*/

/*.showCheckButton {*/
/*width  : 20%;*/
/*margin : 10px 0 0 30%;*/
/*}*/

/*.careNumber {*/
/*height : 38px;*/
/*}*/

/*.attentionPqtable {*/
/*width        : 99%;*/
/*margin       : 0;*/
/*border-right : none;*/
/*}*/

/*.attentiontable_tr {*/
/*width        : 100%;*/
/*border-right : 1px solid #F4F6F9;*/
/*}*/

/*.attentiontable_tr:last-child {*/
/*border-bottom : 1px solid #DDE6EA;*/
/*}*/

/*.rightHeaderTip {*/
/*display             : inline-block;*/
/*width               : 17px;*/
/*height              : 17px;*/
/*margin-top          : 0px;*/
/*background-image    : url(../imgs/help.png);*/
/*background-position : -1571px -429px;*/
/*}*/

/*.labelSytle {*/
/*margin-left : 10px;*/
/*}*/

/*.ndfxTip {*/
/*z-index     : 9999999;*/
/*width       : 260px;*/
/*height      : 100px;*/
/*margin-top  : -76px;*/
/*margin-left : 455px;*/
/*padding     : 10px 10px;*/
/*overflow    : auto;*/
/*border      : 2px dashed gray;*/
/*border      : 5px;*/
/*font-size   : 12px;*/
/*}*/

/*.attentionTable {*/
/*overflow      : hidden;*/
/*text-overflow : ellipsis;*/
/*white-space   : nowrap;*/
/*}*/

/*.jsErrorTableStyle {*/
/*margin : 3%;*/
/*}*/

/*.jsErrorTable {*/
/*overflow      : hidden;*/
/*text-overflow : ellipsis;*/
/*white-space   : nowrap;*/
/*}*/

/*.backToView {*/
/*float          : right;*/
/*margin-right   : 30px;*/
/*vertical-align : middle;*/
/*}*/

/*.nodebox {}*/

/*#node_PHYSICAL .nodebox {}*/

/*#node_PHYSICAL_HARD .nodebox {}*/

/*#node_PHYSICAL_SOFT .nodebox {}*/

/*#node_BIOTA .nodebox {}*/

/*#node_BIOTA_SPONGES .nodebox {}*/

/*#node_BIOTA_ALGAE .nodebox {}*/

/*#node_BIOTA_ALGAE_CANOPY_ECK .nodebox {}*/

/*#node_BIOTA_ALGAE_CRUSTOSE .nodebox {}*/

/*.nodeTitle {*/
/*font        : 8px sans-serif;*/
/*font-weight : bold;*/
/*}*/

/*.nodeText {*/
/*font : 8px sans-serif;*/
/*}*/

/*.f1Text {}*/

/*.link {}*/

/*#heatMap {*/
/*margin-top : 40px;*/
/*overflow   : scroll;*/
/*}*/

/*.mask {*/
/*width      : 1000px;*/
/*height     : 500px;*/
/*opacity    : 0.5;*/
/*background : #000000;*/
/*}*/

/*.webPic {*/
/*width      : 1000px;*/
/*height     : 500px;*/
/*margin-top : -500px;*/
/*}*/

/*.testClass {*/
/*overflow : visible;*/
/*}*/

/*.condition_radio {*/
/*width : 100%;*/
/*}*/

/*.condition_select {*/
/*display       : block;*/
/*height        : 30px;*/
/*float         : left;*/
/*margin-bottom : 10px;*/
/*}*/

/*.condition_radio_input {*/
/*margin-left : 10px !important;*/
/*}*/

/*#oneForAll #granularity {*/
/*width         : 300px;*/
/*float         : none;*/
/*margin-bottom : 20px;*/
/*}*/

/*.condition_radio_label,*/
/*.condition_select_label {*/
/*height      : 35px;*/
/*line-height : 35px;*/
/*}*/

/*.condition_select_select {*/
/*-moz-appearance  : none;*/
/*-moz-appearance  : none;*/
/*appearance       : none;*/
/*width            : 190px;*/
/*height           : 30px;*/
/*margin-right     : 10px;*/
/*margin-left      : 10px;*/
/*border           : 0px solid #f3f3f3;*/
/*background-color : #FDFDFD;*/
/*outline          : 0 none;*/
/*font-size        : 15px;*/
/*}*/

/*.condition_select_select_narrow {*/
/*-moz-appearance  : none;*/
/*-moz-appearance  : none;*/
/*appearance       : none;*/
/*width            : 90px;*/
/*height           : 30px;*/
/*margin-right     : 10px;*/
/*margin-left      : 10px;*/
/*border           : 0px solid #f3f3f3;*/
/*background-color : #FDFDFD;*/
/*outline          : 0 none;*/
/*font-size        : 15px;*/
/*}*/

/*.condition_select_select option {}*/

/*.condition_select_button {*/
/*width         : 130px;*/
/*height        : 30px;*/
/*margin-top    : 3px;*/
/*margin-left   : 1px;*/
/*color         : #fff;*/
/*border        : 0px solid #e1e1e1;*/
/*border-radius : 5px;*/
/*background    : #fabb17;*/
/*text-align    : center;*/
/*}*/

.chartDiv {
    width: 100%;
    height: 400px;
    margin-top: 20px;
    padding: 20px;
    overflow: auto;
    text-align: center;
    line-height: 400px;
}

.table1Div {
    width: 100%;
    height: 400px;
    margin-top: 20px;
    overflow: visible;
}

.tableDiv {
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    overflow: visible;
    /*height:400px;*/
}

/*.select p {*/
/*color : #ffce4d;*/
/*}*/


.tableDiv1 {
    width      : 100%;
    height     : 112px;
    overflow   : visible;
    background : #f8f8f8;
    margin-left: 15px;
}



/*.noDataFound {*/
/*width       : 100%;*/
/*height      : 400px;*/
/*padding-top : 20%;*/
/*overflow    : auto;*/
/*text-align  : center;*/
/*}*/

/*.blockStyle {*/
/*display : inline-block;*/
/*float   : left;*/
/*}*/

/*.clearBoth {*/
/*clear : both;*/
/*}*/

/*.lineBegin {*/
/*height : 50px;*/
/*}*/

/*.betweenTwoDate {*/
/*margin-right : 10px;*/
/*margin-left  : 10px;*/
/*}*/

.input_dateStyle {
    width: 190px;
    height: 30px;
    margin-top: 2px;
    border: 0px solid #e1e1e1;
    border-radius: 5px;
    background-color: #fdfdfd;
}

.chartTableArea {
    width: 100%;
}


.gaikuangZhibiao {
    display       : inline-block;
    position      : relative;
    width         : 14%;
    height        : 112px;
    float         : left;
    margin-bottom : 30px;
    padding-top   : 10px;
    border        : 1px solid #ecefef;
    border-top    : 0;
    cursor        : pointer;
    background-color: #ffffff;
}

.gaikuangNum {
    height     : 25px;
    border     : none;
    text-align : center;
    font-size  : 15px;
    width: 160px;
}
.gaikuangNum table {
    width: 140px;

}
.gaikuangNum table tr .tdlabel{
    width: 70px;
    text-align: right;
}
.gaikuangNum table tr .tdvalue{
    width: 100%;
    margin-right: 0px;
    text-align: right;
    width: 60px;
    font-size: 12px;

}
.gaikuangNum table tr{
    width: 100%;
    margin-top: 5px;

}
.gaikuangZhibiao:hover {
    background-color : rgb(242, 247, 253);
}

.select {
    border-bottom : 5px solid #FDCD53;
}

.textaline {
    width      : 200px;
    margin     : 10px auto;
    text-align : center;
}

span.growthRate {
    height     : 40px;
    color      : #e4514f;
    border     : none;
    text-align : center;
    font-size  : 15px;
}

p.growthRatePositive {
    color : red;
}

p.growthRateNegative {
    color : #54B350;
}

.gaikuangName {
    height        : 40px;
    margin-top    : 15px;
    margin-bottom : 0;
    margin-left   : 0px;
    color         : rgb(150, 150, 150);
    border        : none;
    text-align    : center;
    font-family   : "impact";
    font-size     : 30px;
    font-weight   : normal;
}

.gaikuangAdd {
    color       : #e6e6e8;
    text-align  : center;
    font-size   : 85px;
    line-height : 112px;
}

.gaikuangTargetMinus {
    display     : none;
    display     : inline-block;
    position    : absolute;
    top         : 0px;
    right       : 0px;
    width       : 18px;
    height      : 18px;
    color       : #fff;
    background  : #5298f8;
    text-align  : center;
    font-size   : 14px;
    font-weight : bold;
    cursor      : pointer;
    /*border: 1px solid gray;*/
}

.table1Style {
    margin-top : 20px;
}

.gaikuangZhibiao:hover > b {
    display : block;
}

.tableStyle {
    width     : 100%;
    margin-left: 10px;
    margin-right: 10px;
    font-size : 12px;
}

.tableStyle td {
    width  : 100%;
    border : 1px solid #e1e1e1;
}

.tableTrStyle {
    width       : 100%;
    height      : 40px;
    text-align  : center;
    line-height : 40px;
}

.tableTrStyle:nth-child(even) {
    background-color : #f9f9f9;
}

.condition {
    margin-top     : -30px;
    padding-top    : 15px;
    padding-bottom : 1px;
    padding-left   : 25px;
    border-bottom  : 3px solid #ecefef;
    background     : #f8f8f8;
    position       :fixed;
    z-index: 100;
    left: 16%;
    right: 0;
}

.select {
    border-bottom : 5px solid #FDCD53;
}

/*.condition {*/
/*margin-top     : -30px;*/
/*padding-top    : 15px;*/
/*padding-bottom : 1px;*/
/*padding-left   : 25px;*/
/*border-bottom  : 3px solid #ecefef;*/
/*background     : #f8f8f8;*/
/*}*/

/*.display_jian {*/
/*width : 130px;*/
/*}*/

/*.btn_user {*/
/*width  : 100%;*/
/*height : 30px;*/
/*border : 1px solid #e1e1e1;*/
/*}*/

/*.modal-content {*/
/*width : auto    margin:0 auto;*/
/*}*/

/*.no_btn {*/
/*position : absolute;*/
/*right    : 15px;*/
/*width    : 120px;*/
/*}*/

/*.yes_btn {*/
/*position : absolute;*/
/*left     : 10px;*/
/*width    : 120px;*/
/*}*/

/*.modal-footer {*/
/*height : 65px;*/
/*}*/

/*.modal-header {*/
/*height : 40px;*/
/*}*/

/*#myModalLabel {*/
/*margin-top : -8px;*/
/*}*/

/*#modal-dialog {*/
/*margin : 15% auto;*/
/*}*/

/*.modal-title {*/
/*font-family : '微软雅黑 Regular',*/
/*'微软雅黑';*/
/*font-size   : 18px;*/
/*}*/

/*.funnelName {*/
/*width   : 100%;*/
/*height  : 30px;*/
/*margin  : 5px 0;*/
/*padding : 10px;*/
/*!*border: 5px;*!*/
/*}*/

/*.modal-body select {*/
/*height        : 40px;*/
/*margin        : 10px 0;*/
/*margin-bottom : 5px;*/
/*background    : #ffffff;*/
/*outline       : 0;*/
/*}*/

/*.eventNameList label {*/
/*margin-bottom : 10px;*/
/*padding-left  : 5px;*/
/*color         : #e6e6e6;*/
/*font-size     : 10px;*/
/*}*/

/*#addStep {*/
/*width      : 268px;*/
/*height     : 40px;*/
/*color      : #9e9e9e;*/
/*border     : 1px solid #f2f2f2;*/
/*background : #f2f2f2;*/
/*outline    : 0;*/
/*}*/

/*.eventNameList label a {*/
/*width        : 10px;*/
/*height       : 5px;*/
/*padding-left : 5px;*/
/*}*/

/*.font_x {*/
/*display         : inline-block;*/
/*width           : 15px;*/
/*height          : 15px;*/
/*background      : url(../imgs/font_x.png) no-repeat;*/
/*background-size : cover;*/
/*vertical-align  : -4px;*/
/*}*/


.tableTrStyle:first-child {
    background: #E5E4E4;
    font-weight: bold;
    vertical-align: text-top;
}

.backButton {
    background-color: #fdc638;
    width: 120px;
    float: left;
    line-height: 35px;
    height: 35px;
    color: white;
    text-align: center;
    margin-top: 0px;
    margin-left: 0px;
    position: relative;
    left: 90%;
    bottom: 100%
}



